.wrapperbox {
  display: flex;
}

.firstbox {
  flex-basis: 50%;
  flex-shrink: 10;
  /* border: 1px solid red; */
}

.secondbox {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15vh 5vw 0 0;
  /* border: 1px solid red; */
}

.secondbox h1 {
  color: #ffb400;
  /* color: #b6a58a; */
  font-size: 40px;
  /* font-family: "Rubik Spray Paint", cursive; */
  font-family: "Lobster", cursive;
}
.secondbox h1 span {
  color: #4732a8;
  /* color: #b6a58a;
  font-size: 40px;
  font-family: "Rubik Spray Paint", cursive; */
}
.secondbox h2 {
  color: #ffb400;
  /* font-family: "Rubik Spray Paint", cursive; */
  font-family: "Lobster", cursive;
  font-size: 30px;
  font-weight: bold;
}
.secondbox h2 + p {
  font-family: "Lobster", cursive;
  font-size: 20px;
  margin-bottom: 5vh;
}
.secondbox h2 + p span {
  color: #ffb400;
}
.stackbutton {
  width: 15vw;
  font-family: "Lobster", cursive;
  text-decoration: none;
}
.stack {
  display: flex;
  gap: 1vw;
}

@media (max-width: 940px) {
  .firstbox {
    display: none;
    background-color: yellow;
  }

  .secondbox {
    flex-basis: 100%;
    align-items: center;
    padding-top: 5vh;
    /* justify-content: center; */
  }
  .secondbox h2 + p {
    text-align: center;
  }
  .stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    gap: 1vw;
  }
  .stackbutton {
    width: 100%;
  }
}
