.wrapper {
  display: flex;
  /* border: 1px solid red; */
  padding: 2vw;
  justify-content: space-evenly;
  background-color: rgba(7, 0, 0, 0.897);
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.109);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.avatar:hover {
  background-color: rgba(255, 255, 255, 0.309);
}
/* .avatar:active{
     background-color: yellow;
} */
.toggle {
  /* display: none; */
  z-index: 4;
  /* position: fixed; */
  /* visibility: hidden; */
}
@media (min-width: 940px) {
  .footer {
    display: none;
  }
}

@media (max-width: 940px) {
  .toggle {
    display: none;
  }
  .height {
    height: 132vh;
  }
  /* .foot{

  } */
}
