.wrapper {
  display: flex;
  /* border: 1px solid red; */
  padding: 2vw;
  justify-content: space-evenly;
}
@media (min-width: 940px) {
  .footer {
    display: none;
  }
}
@media (max-width: 940px) {
  .toggle {
    display: none;
    /* visibility: hidden; */
  }
}
