/* .icon {
  display: none;
}

.icons:hover {
  display: block;
}

.hover:hover {
  background-color: #1d9bf0;
} */
/* .hover1:hover {
  background-color: #1d9bf0;
  width: 150px;
} */

.icon:hover {
    display: block;
  color: blue;
  
}
