.wrapper {
  /* border: 1px solid red; */
  width: 60vw;
  margin: 10vh 20vw;
  /* padding: 50vh; */
}
.image {
  /* border: 1px solid red; */
  width: 100%;
}
.typo {
  font-family: "Rubik Storm", cursive;
  color: rgb(195, 238, 195);
}
@media (max-width: 950px) {
  .wrapper {
    width: 80vw;
    margin: 10vw 10vw;
  }
}
